# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio cache/options
.vs/

# Visual Studio Code
.vscode/
*.code-workspace

# Rider
.idea/
*.sln.iml

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# NuGet
*.nupkg
*.snupkg
*.nuget.props
*.nuget.targets

# Local History
.localhistory/

# BeatPulse healthcheck temp database
healthchecksdb

# Backup files
*.bak
*.backup

# Environment variables
.env
.env.local

# Application settings
appsettings.json
appsettings.*.json
!appsettings.Development.json.example
!appsettings.Production.json.example

# OS-specific
.DS_Store
Thumbs.db
